- Write a Python program that takes a list of integers and returns the sum of elements at odd indices (i.e., elements at positions 1, 3, 5, etc.).

**Given List:**

```python
lst = [10, 20, 30, 40, 50, 60]

```

In [1]:
lst = [10,20,30,40,50,60]
sum_odd = 0
for i in range(len(lst)):
    if i % 2 != 0:
        sum_odd += lst[i] 
print(sum_odd)

120


---

- Given a nested list (a list containing other lists), write a program to flatten the list into a single list containing all the elements from the nested lists.

**Given Nested List:**

```python
nested_lst = [1, [2, 3], [4, [5, 6]], 7]

```

In [2]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item) 
    return flat_list

nested_lst = [1, [2, 3], [4, [5, 6]], 7, dict(a=2)]

result = flatten_list(nested_lst)

print("Flattened List:", result)

Flattened List: [1, 2, 3, 4, 5, 6, 7]

---

### 

- Given a list of lists, write a program that finds and returns the longest sublist.

**Given List of Lists:**

```python
lst_of_lists = [[1, 2], [3, 4, 5], [6]]

```

In [1]:
lst = [[1, 2], [3, 4, 5], [6], (2,3,4,5,65), "3478458458774538787"]
longest = max(lst, key=len)
print(f'The longest chain is {longest}')

The longest chain is 3478458458774538787

In [8]:
lst_of_lists = [[1, 2], [3, 4, 5], [6]]
longest_list = []
max_len = 0
for item in lst_of_lists:
    if len(item)>max_len:
        max_len = len(item)
        longest_list = item

print("the longest list is:", longest_list)

the longest list is: [3, 4, 5]

---

- Write a Python program that takes a dictionary and sorts it by its values in descending order. Return the sorted dictionary.

**Given Dictionary:**

```python
d = {'a': 3, 'b': 1, 'c': 2}

```

In [4]:
d = {'a': 3, 'b': 1, 'c': 2}
sort = dict(sorted(d.items(),key = lambda item:item[1], reverse = True))
print(sort)

{'a': 3, 'c': 2, 'b': 1}

---

### 

- Given two dictionaries, write a program that finds and prints all the common keys between the two.

**Given Dictionaries:**

```python
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 4, 'c': 5, 'd': 6}

```

In [4]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 4, 'c': 5, 'd': 6}
commonkeys = d1.keys() & d2.keys()
print(type(d1.keys()))
print("the common keys are", commonkeys)

<class 'dict_keys'>
the common keys are {'b', 'c'}

---

### 

- Write a Python program that converts a list of tuples into a dictionary.

**Given List of Tuples:**

```python
lst_of_tuples = [('a', 1), ('b', 2), ('c', 3)]

```

In [6]:
tuples = [('a', 1), ('b', 2), ('c', 3)]
d = dict(tuples)
print(d)

{'a': 1, 'b': 2, 'c': 3}

---

### 

- Write a Python program that finds the symmetric difference of two sets, i.e., the elements that are in either of the sets but not in both.

**Given Sets:**

```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

```

In [7]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1^set2
print(symmetric_diff)

{1, 2, 5, 6}

---

### 

- Write a Python program that checks if one set is a subset of another set. If it is, return `True`; otherwise, return `False`.

**Given Sets:**

```python
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

```

In [8]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

if set1.issubset(set2):
    print(True)
elif set2.issubset(set1):
    print(True)
else:
    print(False)

True

---

### 

- Write a Python program that finds the common elements between two tuples and returns a tuple containing those common elements.

**Given Tuples:**

```python
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)

```

In [11]:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
common = tuple(set(tuple1).intersection(set(tuple2)))
print(common)

(3, 4)

### 

- Write a Python program that converts a string representing a date (e.g., `"2025-01-06"`) to a `datetime` object, adds 7 days to it, and prints the new date.

**Given String:**

```python
date_str = "2025-01-06"

```

In [10]:
from datetime import datetime, timedelta
date_str = "2025-01-06"
print(type(date_str))
date = datetime.strptime(date_str, "%Y-%m-%d")
print(date)
print(type(date))
new_date = date + timedelta(days=7)
print("New Date:", new_date)

<class 'str'>
2025-01-06 00:00:00
<class 'datetime.datetime'>
New Date: 2025-01-13 00:00:00

---