Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

SELECT MAX(salary) AS SecondHighestSalary
FROM Employee
WHERE salary < (SELECT MAX(salary) FROM Employee);

In [2]:
import pandas as pd

data = {'id':[1,2,3], 'salary':[100,200,300]}
df = pd.DataFrame(data)

def second_highest(employee_df):
    distinct_salaries = employee_df['salary'].drop_duplicates().sort_values(ascending = False)

    if len(distinct_salaries)>1:
        return distinct_salaries.iloc[1]
    else:
        return None

salary_second = second_highest(df)

result = pd.DataFrame({'Second highest salary':[salary_second]})

print(result)

   Second highest salary
0                    200

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

DELETE FROM Person
WHERE id NOT IN (
    SELECT id FROM (
        SELECT MIN(id) AS id
        FROM Person
        GROUP BY email
    ) AS temp
);

In [4]:
import pandas as pd

data = {'id': [1, 2, 3], 'email': ['john@example.com', 'bob@example.com', 'john@example.com']}
df = pd.DataFrame(data)

df.sort_values(by='id', inplace=True)
df.drop_duplicates(subset='email', keep='first', inplace=True)

print(df)

   id             email
0   1  john@example.com
1   2   bob@example.com

Write a solution to find all customers who never order anything.

Return the result table in any order.

SELECT c.name AS Customers
FROM Customers c
LEFT JOIN Orders o
ON c.id = o.customerId
WHERE o.customerId IS NULL;

In [5]:
import pandas as pd

customers_data = {'id': [1, 2, 3, 4], 'name': ['Joe', 'Henry', 'Sam', 'Max']}
customers_df = pd.DataFrame(customers_data)

orders_data = {'id': [1, 2], 'customerId': [3, 1]}
orders_df = pd.DataFrame(orders_data)

merged_df = customers_df.merge(orders_df, left_on='id', right_on='customerId', how='left')
result_df = merged_df[merged_df['customerId'].isna()][['name']]
result_df.columns = ['Customers']

print(result_df)

  Customers
1     Henry
3       Max

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.

SELECT e1.name AS Employee
FROM Employee e1
JOIN Employee e2
ON e1.managerId = e2.id
WHERE e1.salary > e2.salary;

In [8]:
import pandas as pd

data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max'],
    'salary': [70000, 80000, 60000, 90000],
    'managerId': [3, 4, None, None]
}
df = pd.DataFrame(data)

merged_df = df.merge(df, left_on='managerId', right_on='id', suffixes=('_emp', '_mgr'))

result_df = merged_df[merged_df['salary_emp'] > merged_df['salary_mgr']][['name_emp']]
result_df.columns = ['Employee']

print(result_df)

  Employee
0      Joe