# üìä SQL Practice

## 1. Select Specific Columns
Write a query to select `first_name`, `last_name` from a table called `employees`.
```sql
SELECT first_name, last_name FROM employees;
````

## 2. Filter Records

Get all rows from `orders` where the `order_date` is in 2023 and `status` is `'completed'`.

```sql
SELECT * FROM orders
WHERE YEAR(order_date) = 2023 AND status = 'completed';
```

## 3. Aggregate Function

Find the average salary from a table `salaries`.

```sql
SELECT AVG(salary) AS avg_salary FROM salaries;
```

## 4. GROUP BY and HAVING

From a table `sales`, group by region and return regions with total sales greater than 100,000.

```sql
SELECT region, SUM(sales) AS total
FROM sales
GROUP BY region
HAVING SUM(sales) > 100000;
```

## 5. JOIN

Join two tables: `customers` and `orders`, and return all customer names with their corresponding order IDs.

```sql
SELECT c.id, c.names
FROM customers c
JOIN orders o
ON c.customer_id = o.customer_id;
```

---

# üêç Python Practice

## 1. List Comprehension

Create a list of squares of even numbers from 1 to 20.

```python
squares = [val**2 for val in range(1, 21) if val % 2 == 0]
print(squares)
```

## 2. Dictionary Count

Given a string, count the frequency of each character using a dictionary.

```python
def count_freq(text):
    frequency = {}
    for char in text:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
        
text = "asdsdfsadafbnh"
print(count_freq(text))
```

## 3. Class and Object

Define a `Car` class with attributes: brand and mileage. Write a method to display the info.

```python
class Car:
    def __init__(self, brand, mileage, makeyear):
        self.brand = brand
        self.mileage = mileage
        self.makeyear = makeyear

    def display(self):
        print(f"Brand: {self.brand}")
        print(f"Mileage: {self.mileage} km/l")
        print(f"Make Year: {self.makeyear}")

c = Car("Toyota", 32, 2022)
c.display()
```

## 4. File I/O

Write a program to read a file `input.txt` and print all lines that contain the word 'Python'.

```python
with open("input.txt", 'r') as file:
    content = file.readlines()
    filter_lines = [line.strip() for line in content if "python" in line.lower()]
    print(filter_lines)
```

## 5. Function with Default Arguments

Write a function `greet(name="Guest")` that prints `"Hello, <name>!"`.

```python
def greet(name="Guest"):
    return f"Hello {name}!"

print(greet("Guest"))
print(greet("alice"))
```

---

# üß™ Pandas Practice

## 1. Read CSV

Read a CSV file `data.csv` into a DataFrame and print the first 5 rows.

```python
import pandas as pd

df = pd.read_csv("data.csv")
print(df.head())
```

## 2. Filter Rows

From a DataFrame `df`, select rows where `age > 30` and `gender == 'Male'`.

```python
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 35, 45, 28, 50],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)
filtered_df = df[(df['age'] > 30) & (df['gender'] == 'Male')]
print(filtered_df)
```

## 3. Group By and Mean

Group a DataFrame `df` by `department` and calculate the average `salary`.

```python
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT'],
    'salary': [50000, 70000, 65000, 72000, 52000, 63000, 71000]
}

df = pd.DataFrame(data)
avg_salary = df.groupby("department")['salary'].mean()
print(avg_salary)
```

## 4. Missing Data

From DataFrame `df`, drop all rows where the column `email` is null.

```python
filter_df = df.dropna(subset=["email"])
```

## 5. New Column

Add a new column `taxed_salary` to `df` which is `salary * 0.9`.

```python
df['taxed_salary'] = df['salary'] * 0.9
```


### üü¶ **SQL Questions**

1. **Find second highest salary**
   Write a query to find the second highest salary from the `employees` table.

   ```sql
      SELECT MAX(SALARY) AS second_highest_salary FROM employees
      WHERE SALARY<(SELECT MAX(SALARY) FROM employees);

      SELECT DISTINCT SALARY FROM EMPLOYEES
      ORDER BY SALARY DESC
      LIMIT 1 OFFSET 1;
    ```

2. **Join two tables**
   Given tables `employees(emp_id, name, dept_id)` and `departments(dept_id, dept_name)`, write a query to get employee names along with their department names.

   ``` SQL
       SELECT e.name, d.dept_name FROM EMPLOYEES e
       JOIN DEPARTMENTS d ON
       e.dept_id = d.dept_id
   ```

3. **Aggregate function**
   From a `sales` table with columns `(id, product, quantity, price)`, find the total revenue per product.

   ``` SQL
       SELECT product, SUM(price * quantity) AS total_revenue FROM SALES
       GROUP BY product
   ```

4. **Filter using `IN` and `BETWEEN`**
   From a `students` table, retrieve names of students who scored between 80 and 90 and are in class 10 or 12.

   ``` SQL
       SELECT name FROM STUDENTS
       WHERE MARKS BETWEEN 80 AND 90 
       AND CLASS IN (10,12);
   ```

5. **Group by and having**
   From an `orders` table `(order_id, customer_id, amount)`, find customers who have placed more than 3 orders.

   ``` SQL
       SELECT c.name, COUNT(*) AS total_orders FROM CUSTOMERS c 
       JOIN ORDERS o ON
       c.id = o.customer_id
       GROUP BY c.name
       HAVING COUNT(*) > 3;
   ```

---

### üü® **Python Questions**

1. **List comprehension**
   Given a list of numbers, return a new list containing only the even numbers squared.

   ``` python
       numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
       evens_squared = [ val ** 2 for val in numbers if val % 2 == 0]
    ```

2. **Dictionary counting**
   Count the frequency of each word in the string: `"apple orange apple banana orange apple"`.
    ```python
        string = "apple orange apple banana orange apple"
        words = string.split()
    
        frequency = {}
        for word in words:
            if word in frequency:
                frequency[word] += 1
            else:
                frequency[word] = 1
        for word, count in frequency.items():
            print(f"{word} :{count}")
    ```
   
   

3. **Functions and default args**
   Write a function that takes `name` and `greeting="Hello"` and returns `"Hello, Name"` (capitalized).

   ``` python
       def greet(name, greeting = "Hello"):
           return f"{greeting}, {name}"

       print(greet("Ram"))
   ```

4. **Reversing a string**
   Reverse the string `"DataEngineering"` without using `[::-1]`.

   ``` python
       def reverse_string(word):
           reverse = word[::-1]
           return reverse
       print(reverse_string("DataEngineering"))

       def reverse_string(word):
           reverse = ""
           for char in word:
               reverse = char + reverse
           return reverse
       print(reverse_string("DataEngineering"))
   
   ```

5. **Fibonacci with recursion**
   Write a recursive function to return the nth Fibonacci number.
    ```python
       def fibonacci(n):
               if n<=1:
                   return n
               else:
                   return fibonacci(n-1) + fibonacci(n-2)
       
       for n in range(0,11):
           print(fibonacci(n),end=' ')
    ```
---

### üü© **Pandas Questions**

1. **Filtering rows**
   From a DataFrame `df` with a column `age`, filter rows where age > 25 and age < 40.

   ```python
       import pandas as pd
       data = { "name": ["ram", "shyam", "hari"],
               "age": [23, 34, 45]
              }
       df = pd.DataFrame(data)
       new_df = df[(df['age'] > 25) & (df['age'] < 40)]
       print(new_df)
   ```

2. **Group by and aggregation**
   From a DataFrame with columns `department` and `salary`, find the average salary per department.

   ```python
       import pandas as pd
       data = {"name": ["ram", "shyam", "hari","sita"],
               "age": [23,24,25, 30],
               "department": ["IT","Marketing", "Sales", "Admin"],
               "salary": [ 50000,20000,20000,40000]
               }
       df = pd.DataFrame(data)
       new_df = df.groupby('department')['salary'].mean()
       print(new_df)
   ```
   
3. **Merge two DataFrames**
   Merge DataFrames `df1(emp_id, name)` and `df2(emp_id, salary)` on `emp_id`.

   ```python
       import pandas as pd
       data1 = {"emp_id": [ 1,2,3,4],
              "name": ["ram", "shyam", "hari","sita"]
             }
       data2 = {"emp_id": [ 1,2,3,4],
              "salary": [ 50000,20000,20000,40000]
             }
       df1 = pd.DataFrame(data1)
       df2 = pd.DataFrame(data2)
       new_df = pd.merge(df1,df2, on = 'emp_id', how = 'inner')
       print(new_df)
   ```
   
4. **Add new column with condition**
   Given a DataFrame `df` with column `marks`, add a new column `grade` as follows:

   * `A` if marks ‚â• 90
   * `B` if marks ‚â• 75
   * `C` otherwise

   ```python
       import pandas as pd
       data = {"name": ["ram", "shyam", "hari","sita"],
               "marks": [60,70,80,90],
               }
       df = pd.DataFrame(data)
       # simplest form
        #address = ['NewYork', 'Chicago', 'Boston', 'Miami']
        # Using 'Address' as the column name
        # and equating it to the list
        # df['Address'] = address, but since there are conditons use loc
       df.loc[df['marks'] >= 90, 'grade'] = 'A'
       df.loc[(df['marks'] >= 75) & (df['marks'] < 90), 'grade'] = 'B'
       df.loc[df['marks'] < 75, 'grade'] = 'C'

       print(df)
   ```
   
5. **Missing values**
   From a DataFrame with missing values, fill NaNs in column `age` with the mean age.

   ```python
       import pandas as pd
       data = {"name": ["ram", "shyam", "hari","sita"],
               "age": [23, 24, None, 30],
               "department": ["IT","Marketing", "Sales", "Admin"],
               "salary": [ 50000,20000,20000,40000]
               }
       df = pd.DataFrame(data)
       mean_val = df['age'].mean()
       df['age'].fillna(value = mean_val, inplace = True)
       print(df)
   ```